In [1]:
import pandas as pd
import numpy as np
from zipfile import ZipFile
import sys
import os
import glob

In [7]:
# glob does pattern matching on file structure
print(os.getcwd()+'/Storm Event Data/')

/home/jovyan/datamining/Storm-Event-Data/Storm\ Event\ Data/

In [8]:
# glob does pattern matching on file structure
filelist = glob.glob(os.getcwd()+'/Storm Event Data/*details*.csv*')
df = pd.concat([pd.read_csv(f) for f in filelist])

/tmp/ipykernel_765/1229720641.py:3: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([pd.read_csv(f) for f in filelist])
/tmp/ipykernel_765/1229720641.py:3: DtypeWarning: Columns (26,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([pd.read_csv(f) for f in filelist])
/tmp/ipykernel_765/1229720641.py:3: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([pd.read_csv(f) for f in filelist])
/tmp/ipykernel_765/1229720641.py:3: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([pd.read_csv(f) for f in filelist])
/tmp/ipykernel_765/1229720641.py:3: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([pd.read_csv(f) for f in filelist])

In [9]:
df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,199206,24,1511,199206,24,1511,NaN,9985034,COLORADO,8.0,...,0.0,NaN,NaN,40.58,-105.15,NaN,NaN,NaN,NaN,PUB
1,199206,24,1827,199206,24,1827,NaN,9985035,COLORADO,8.0,...,0.0,NaN,NaN,38.68,-104.70,NaN,NaN,NaN,NaN,PUB
2,199206,24,1943,199206,24,1943,NaN,9985036,COLORADO,8.0,...,0.0,NaN,NaN,39.30,-103.07,NaN,NaN,NaN,NaN,PUB
3,199206,25,1950,199206,25,1950,NaN,9985037,COLORADO,8.0,...,0.0,NaN,NaN,38.48,-107.87,NaN,NaN,NaN,NaN,PUB
4,199206,26,1251,199206,26,1251,NaN,9985038,COLORADO,8.0,...,0.0,NaN,NaN,39.12,-104.92,NaN,NaN,NaN,NaN,PUB

In [10]:
df.info

<bound method DataFrame.info of        BEGIN_YEARMONTH  BEGIN_DAY  BEGIN_TIME  END_YEARMONTH  END_DAY  \
0               199206         24        1511         199206       24
1               199206         24        1827         199206       24
2               199206         24        1943         199206       24
3               199206         25        1950         199206       25
4               199206         26        1251         199206       26
...                ...        ...         ...            ...      ...
10402           198908          4         200         198908        4
10403           198908         12        2020         198908       12
10404           198908         12        2027         198908       12
10405           198908         13        1502         198908       13
10406           198908         13        1510         198908       13

       END_TIME  EPISODE_ID  EVENT_ID         STATE  STATE_FIPS  ...  \
0          1511         NaN   9985034      COLORADO         8.0  ...
1          1827         NaN   9985035      COLORADO         8.0  ...
2          1943         NaN   9985036      COLORADO         8.0  ...
3          1950         NaN   9985037      COLORADO         8.0  ...
4          1251         NaN   9985038      COLORADO         8.0  ...
...         ...         ...       ...           ...         ...  ...
10402       200         NaN  10126961  SOUTH DAKOTA        46.0  ...
10403      2020         NaN  10126962  SOUTH DAKOTA        46.0  ...
10404      2027         NaN  10126963  SOUTH DAKOTA        46.0  ...
10405      1502         NaN  10126964  SOUTH DAKOTA        46.0  ...
10406      1510         NaN  10126965  SOUTH DAKOTA        46.0  ...

       END_RANGE END_AZIMUTH END_LOCATION BEGIN_LAT  BEGIN_LON END_LAT  \
0            0.0         NaN          NaN     40.58    -105.15     NaN
1            0.0         NaN          NaN     38.68    -104.70     NaN
2            0.0         NaN          NaN     39.30    -103.07     NaN
3            0.0         NaN          NaN     38.48    -107.87     NaN
4            0.0         NaN          NaN     39.12    -104.92     NaN
...          ...         ...          ...       ...        ...     ...
10402        0.0         NaN          NaN     44.72     -97.03     NaN
10403        0.0         NaN          NaN     45.05     -97.32     NaN
10404        0.0         NaN          NaN     44.90     -97.15     NaN
10405        0.0         NaN          NaN     45.60     -98.67     NaN
10406        0.0         NaN          NaN     45.47     -98.48     NaN

      END_LON EPISODE_NARRATIVE EVENT_NARRATIVE DATA_SOURCE
0         NaN               NaN             NaN         PUB
1         NaN               NaN             NaN         PUB
2         NaN               NaN             NaN         PUB
3         NaN               NaN             NaN         PUB
4         NaN               NaN             NaN         PUB
...       ...               ...             ...         ...
10402     NaN               NaN             NaN         PUB
10403     NaN               NaN             NaN         PUB
10404     NaN               NaN             NaN         PUB
10405     NaN               NaN             NaN         PUB
10406     NaN               NaN             NaN         PUB

[1832969 rows x 51 columns]>